
/**
* lit styles 
* @author Haneya Yunus
* @version 0.1
*/

/*
font-family: 'Pacifico', cursive;
font-family: 'Open Sans', sans-serif;
*/

.ipad {
	position: absolute;
	left: calc(50% - 512px);
	height: 1366px;
	width: 1024px;
	overflow-y: scroll;
}

.header {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	height: 150px;
	background-color: #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 20px;
}

.headerText {
	width: 100%;
	font-family: 'Pacifico', cursive;
	font-size: 72px;
	text-align: center;
	line-height: 150px;
	color: #FFFFFF;
}

.introBox {
	position: relative;
	top: calc(50% - 445px);
	text-align: center;
	width: 90%;
	margin-left: 5%;
	font-family: 'Raleway', sans-serif;
}

.introBox-big {
	font-size: 65px;
}

.introBox-small {
	font-size: 40px;
}

.bold {
	font-weight: bold;
}

.input {
	display: inline-block;
	height: 50px;
	width: 200px;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	background-color: #f0f0f0;
	border: 3px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
}

.enterButton {
	display: inline-block;
	height: 50px;
	width: 50px;
	position: relative;
	top: 10px;
}

.listItem {
	position: relative;
	width: 100%;
	height: 150px;
	background: #F2F2F2;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	margin-bottom: 10px;
}

.listItem-table {
	width: 100%;
	height: 100%;
}

.listItem-table-small {
	width: 10%;
}

.listItem-table-small-icon {
	height: 90px;
	width: 90px;
}

.listItem-table-big {
	width: 80%;
}

.listItem-table-text {
	font-family: 'Raleway', sans-serif;
	width: 100%;
	color: #000000;
}

.text-small {
	height: 50px;
	line-height: 50px;
	font-size: 30px;
}

.text-big {
	position: relative;
	top: -20px;
	font-size: 60px;
}

.text-complete {
	opacity: 0.5;
}

.spacer {
	position: relative;
	height: 20px;
	width: 100%;
}